h1 {color: #7F4F7F;
	font-size:xx-large; 
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Montserrat', sans-serif;
	padding: 35px;
	margin: 0px;
	border: 3px; 
	border-color:#7F4F7F; 
	border-style:dotted;
	border-radius: 15px;}

h2 {color: #663F66; 
	font-size:20;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	}


p {color: #553555; 
	font-size: 12; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	}
a {color:white;}

a:hover {text-decoration: none; 
	color: purple;
	}



img {display: block;
			margin-left:auto;
			margin-right: auto;
			width:50%;}

footer {color: white; 
	font-size: small; 
	text-align: center;
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}

#welcome {text-align: center;
			background-image: url("https://images.unsplash.com/photo-1466629437334-b4f6603563c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1057&q=80");
			background-size: cover;
			height: 50vh; 
			width: 100vw;}

.footerlist {padding: 0 !important;
	margin: 0 !important;
		text-align: left !important;}

.fab {color:purple;}
.btn {background-color:purple;
		border: none;}
.btn:hover{color:white;}
#welcome p {color:purple;}